<!DOCTYPE html>
{% extends 'base.html' %}


{% block content %}
<body>


<h1 style="text-align:center;">Edit Movie Details</h1>
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
<div class="container w-50 mx-auto">
  <h2 class="text-center mt-3"></h2>
  <div class="mb-3 mt-3">
    <label class="form-label">Title</label>
    <input type="text" class="form-control" name="t" value="{{movie.title}}" placeholder="Enter title">
  </div>
  <div class="mb-3 mt-3">
    <label class="form-label">Description</label>
    <textarea class="form-control" name="d" placeholder="Write your description">"{{movie.desc}}"</textarea>
  </div>
  <div class="mb-3 mt-3">
    <label class="form-label">Language</label>
    <input type="text" class="form-control" name="l" value="{{movie.language}}" placeholder="Languages">
  </div>
  <div class="mb-3 mt-3">
    <label class="form-label">Year</label>
    <input type="text" class="form-control" name="y" value="{{movie.year}}" placeholder="year">
  </div>
  <div class="mb-3 mt-3">
    <label class="form-label">Image</label>
    <img src="{{movie.image.url}}" height="100px" width="100px">
    <input type="file" class="form-control" name="i">
  </div>
  <div class="mb-3 mt-4">
    <input type="submit" class="btn btn-outline-primary fw-bold">
  </div>

</div>
</form>

</body>

{% endblock %}