<!DOCTYPE html>
{% extends 'base.html' %}

  {% block title %}
    <title>Home</title>
  {% endblock %}

{% block content %}

<div class="container">
  <h3 class="text-center text-light my-5">Movie List</h3>
  <div class="row">
    {% for i in movie %}
    <div class="col-4">
      <div class="card" style="width: 18rem;">
        <img src="{{i.image.url}}" height="400px"  class="card-img-top img-thumbnail" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title">{{i.title}}</h5>
          <p class="card-text fw-bold">{{i.year}}</p>
          <a href="{% url 'view' i.id %}" class="btn btn-primary">Details</a>
        </div>
      </div>
    </div>
        {% endfor %}
  </div>
</div>



{% endblock %}